.nopadding
{
	padding:0px !important
}
.nomargin
{
	margin:0px !important
}
.margintop10
{
	margin-top:10px !important
}
.margintop15
{
	margin-top:15px !important
}
.margintop20
{
	margin-top:20px !important
}
.margintop25
{
	margin-top:25px !important
}
.margintop30
{
	margin-top:00px !important
}
.margintop35
{
	margin-top:35px !important
}
.margintop40
{
	margin-top:40px !important
}
.margintop45
{
	margin-top:45px !important
}
.paddingtop10
{
	padding-top:10px !important
}
.paddingtop15
{
	padding-top:15px !important
}
.paddingtop20
{
	padding-top:20px !important
}
.paddingtop25
{
	padding-top:25px !important
}
.paddingtop30
{
	padding-top:00px !important
}
.paddingtop35
{
	padding-top:35px !important
}
.paddingtop40
{
	padding-top:40px !important
}
.paddingtop45
{
	padding-top:45px !important
}
body
{
	font-family: 'Open Sans', sans-serif;
}
.header
{
	font-family: 'Open Sans', sans-serif;
	background:#269D9F;
	color:#fff;
	padding:10px 0px;
}
.header .pull-right
{
	text-align:right;
}
.header h6
{
	font-family:JosefinSansB;
	font-size:15px;
}
.header h5
{
	font-family:JosefinSansB;
	font-size:18px;
	margin-bottom:5px;
}
.banner
{
	display:inline-block;
	width:100%;
	margin-bottom: -5px;
}
.banner .bgimg
{
	position:relative;
}
.banner .overlay
{
	position:absolute;
	background:rgba(207,122,165,0.2);
	top:0px;
	text-align: center;
	width: 100%;
	display: inline-block;
	color: #fff;
	padding:371px 15px;
}
.banner .overlay2
{
	position:absolute;
	background:rgba(0,0,0,0.6);
	top:0px;
	text-align: center;
	width: 100%;
	display: inline-block;
	color: #fff;
	padding:371px 15px;
}

 h2
 {
	font-family: 'Abril Fatface', cursive;
	font-size:48px;
	color: #ffffff;
}
.banner .overlay , .banner .overlay2  .bannerHome h2, .bannerHome2 h2
{
	font-family: 'Abril Fatface', cursive;
	font-size:48px;
}
.banner .overlay h4, .banner .overlay2 h4, .bannerHome h4, .sobre h3, .sobre2 h3, .padme h3, .bannerHome2 h4
{
	font-family: 'Abril Fatface', cursive;
	font-size:36px;
}
.banner .overlay2 h4
{
	color:#cf7aa5;
}
.bannerHome
{
	background:url(../img/home.png) no-repeat center;
	padding-top:250px;
	padding-bottom:300px;
	background-size:cover;
}
.bannerHome2
{
	background:url(../img/home2.png) no-repeat center;
	padding-top:250px;
	padding-bottom:300px;
	background-size:cover;
}
.bannerHome h2, .bannerHome2 h2
{
	
	font-family: 'Abril Fatface', cursive;
	font-size:48px;
	color: #ffffff;
}
.bannerHome2 h4
{
	color:#fffbe5;
}
.bannerHome h4
{
	
	font-family: 'Open Sans', sans-serif;
	font-size:26px;
	color: #ffffff;
}
.sobre
{
/*	background:url(../img/sobre.png) no-repeat center;*/
	padding-top:0px;
	padding-bottom:0px;
	background-size:cover;
}

.sobreimages
{
/*	background:url(../img/sobre.png) no-repeat center;
*/	padding-top:0px;
	padding-bottom:0px;
	padding-right: 0px;
	background-size:cover;
	background-image: url(../img/prueba.png) no-repeat center;
	
	
}
.sobre2
{
	/*background:url(../img/sobre2.png) no-repeat center;*/
	padding-top:150px;
	padding-bottom:150px;
	background-size:cover;
	text-align: center;
}
 h3
{
	color:#4A4A4A;
	margin-bottom:30px;
	text-align: center;
}
.sobre h3, .sobre2 h3
{
	color:#2eacad;
	margin-bottom:30px;
}
.sobre p, .sobre2 p
{
	color:#333031;
	font-size:16px;
	line-height:33px;
	text-align:justify;
	
}
.sobre .right, .sobre2 .right
{
	
	margin-top:70px;
}
.precios
{
	background:url(../img/wheat.png) ;
	background-repeat: repeat;
	text-align:center;
	padding:70px 0px;
}
.precios h3, .contact h3
{
	color:#ffffff;
	font-size:36px;
	font-family: 'Abril Fatface', cursive;
	margin-bottom:40px;
}
.precios h4
{
	font-size:18px;
	color:#cf7aa5;
	font-family:JosefinSansB;
	font-weight:bold;
}
.precios h5
{
	font-size:25px;
	color:#e01157;
	font-family: 'Abril Fatface', cursive;
	
}
.precios .box
{
	background:#fff;
	border-radius: 6px;
	padding-bottom: 5px;
	margin-bottom: 30px;
	box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15);
}


.precios2
{
	text-align:center;
	background:#f6f6f6;
	padding:70px 0px;
}
.precios2 h3, .contact h3
{
	color:#4A4A4A;
	font-size:36px;
	font-family: 'Abril Fatface', cursive;
	margin-bottom:40px;
}

.precios2 h4
{
	font-size: 28px;
	color:#2b2b2b;
	font-family: 'Amatic SC', cursive;
	font-weight:bold;
	text-align: center;
}
.precios2 h5
{
	font-size:20px;
	color:#494949;
	font-family:JosefinSansB;
	font-weight:bold;
}
.precios2 .box
{
	background:#f6f6f6;
	padding-bottom: 5px;
	margin-bottom: 30px;
	text-align: center;
}

.images
{
	text-align: center;
	height: auto;
	width: 130px;
}



.padme
{
	text-align:center;
	background-repeat: no-repeat;
  background-size: auto;

	padding-top:70px;
	    background: url(../img/morocco.png);
}
.padme p
{
	font-size:20px;
	letter-spacing:1.7px;
	color:#333031;
	font-family:JosefinSansB;
	padding:0px 2.5px;
	margin-bottom:50px;
}
.padme h3, .contact h3
{
	color:#e01157;
	margin-top:0px;
	padding-bottom:30px;
	/*border-bottom:2px dashed #cf7aa5;*/
	margin-bottom:25px;
}
.contact
{
	text-align:center;
	padding:70px 0px;
	background:#f5f5f5;
	display:inline-block;
	width:100%;
	padding-bottom:100px;
}
.contact .form-control
{
	border-color:#7d7579;
	display:inline-block;
	width:100%;
	margin-bottom:15px;
	font-size:20px;
}
.contact .form-control:focus
{
	box-shadow:none;
	border-color:#cf7aa5;
}
.contact .top .form-control
{
	height:40px;
}
.btn-theme
{
	border:1px solid #00d6d1;
	color:#00d6d1;
	transition:all ease 0.5s;
	font-family: 'Abril Fatface', cursive;
	vertical-align: middle;
	font-size: 16px;
	
	padding:10px 40px;
	background:#fff;
}
.btn-theme:hover
{
	background:#00d6d1;
	color:#fff;
	transition:all ease 0.5s;
}
.footer
{
	background:#2eacad;
	padding:30px 0px;
	text-align:center;
}
.footer p
{
	margin-bottom:0px;
	font-size:12px;
	font-family: 'Open Sans', sans-serif;
	
}
.footer p a
{
	color:#f5f5f5;
	text-decoration:none;
}
.navbar-right a
{
	font-family: 'Open Sans', sans-serif;
	padding:9px 25px !important;
	margin-top:5px;
x}
.navbar-right a:hover
{
	font-family: 'Open Sans', sans-serif;
	border-color:#269D9F;
}

p
{
	font-family: 'Open Sans', sans-serif;
	color: #797979;
	font-size: 14px;
	text-align: center;
	line-height: 200%;
}



/*menu*/

.navbar-default .navbar-nav>li>a {
	color: #7d7579;
	font-family:'Open Sans', sans-serif;
	font-weight: 100px;

	transition:all ease 0.5s;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
	color: #2eacad;
	background-color: transparent
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
	color: #2eacad;
}

.navbar-default .navbar-nav>li>a {
	color: #7d7579;

	transition:all ease 0.5s;
}

.navbar-default .navbar-nav>li>a {
	color: #7d7579;
	font-family:'Open Sans', sans-serif;
	font-weight:100px;
	transition:all ease 0.5s;
}

.container>.navbar-header, .container>.navbar-collapse {
    margin-right: -15px;
    margin-left: -15px;
}

@media(min-width:768px) {
.container>.navbar-header, .container>.navbar-collapse {
	margin-right: 0;
	margin-left: 0
}

.navbar-header
{
	background:#000000;
	border-top:1px solid #e1e1e1;
}


