.nopadding
{
	padding:0px !important
}
.nomargin
{
	margin:0px !important
}
.margintop10
{
	margin-top:10px !important
}
.margintop15
{
	margin-top:15px !important
}
.margintop20
{
	margin-top:20px !important
}
.margintop25
{
	margin-top:25px !important
}
.margintop30
{
	margin-top:00px !important
}
.margintop35
{
	margin-top:35px !important
}
.margintop40
{
	margin-top:40px !important
}
.margintop45
{
	margin-top:45px !important
}
.paddingtop10
{
	padding-top:10px !important
}
.paddingtop15
{
	padding-top:15px !important
}
.paddingtop20
{
	padding-top:20px !important
}
.paddingtop25
{
	padding-top:25px !important
}
.paddingtop30
{
	padding-top:00px !important
}
.paddingtop35
{
	padding-top:35px !important
}
.paddingtop40
{
	padding-top:40px !important
}
.paddingtop45
{
	padding-top:45px !important
}
body
{
	font-family:J'Montserrat', sans-serif;
}
.header
{
	background:#e8e8e8;
	color:#fff;
	padding:10px 0px;
}
.header .pull-right
{
	text-align:right;
}
.header h6
{
	font-family:'Montserrat', sans-serif;
	font-size:15px;
}
.header h5
{
	font-family:'Montserrat', sans-serif;
	font-size:18px;
	margin-bottom:5px;
}
.banner
{
	display:inline-block;
	width:100%;
	margin-bottom: -5px;
}
.banner .bgimg
{
	position:relative;
}
.banner .overlay
{
	position:absolute;
	background:rgba(207,122,165,0.2);
	top:0px;
	text-align: center;
	width: 100%;
	display: inline-block;
	color: #fff;
	padding:371px 15px;
}
.banner .overlay2
{
	position:absolute;
	background:rgba(0,0,0,0.6);
	top:0px;
	text-align: center;
	width: 100%;
	display: inline-block;
	color: #fff;
	padding:371px 15px;
}
.banner .overlay h2, .banner .overlay2 h2, .bannerHome h2, .bannerHome2 h2
{
	font-family:'Montserrat', sans-serif;
	font-size:48px;
}
.banner .overlay h4, .banner .overlay2 h4, .bannerHome h4, .sobre h3, .sobre2 h3, .padme h3, .bannerHome2 h4
{
	font-family:'Lobster', cursive;
	font-size:36px;
}
.banner .overlay2 h4
{
	color:#f98800;
}
.bannerHome
{
	background:url(../img/home.png) no-repeat center;
	padding-top:250px;
	padding-bottom:300px;
	background-size:cover;
}
.bannerHome2
{
	background:url(../img/home2.png) no-repeat center;
	padding-top:250px;
	padding-bottom:300px;
	background-size:cover;
}
.bannerHome h2, .bannerHome2 h2
{
	color:#ffffff;
}
.bannerHome2 h4
{
	color:#fffbe5;
}
.bannerHome h4
{
	color:#ffffff;
}
.sobre
{
	background:url(../img/sobre.png) no-repeat center;
	padding-top:150px;
	padding-bottom:150px;
	background-size:cover;
}
.sobre2
{
	background:url(../img/sobre2.png) no-repeat center;
	padding-top:150px;
	padding-bottom:150px;
	background-size:cover;
}
.sobre h3, .sobre2 h3
{
	color:#f98800;
	margin-bottom:30px;
}
.sobre p, .sobre2 p
{
	color:#333031;
	font-size:22px;
	line-height:33px;
	text-align:justify;
	font-weight:bold;
}
.sobre .right, .sobre2 .right
{
	margin-top:70px;
}
.precios
{
	text-align:center;
	background:#eaeaea;
	padding:70px 0px;
}
.precios h3, .contact h3
{
	color:#f27558;
	font-size:36px;
	font-family:'Lobster', cursive;
	margin-bottom:40px;
}
.precios h4
{
	font-size:18px;
	color:#f98800;
	font-family:'Montserrat', sans-serif;;
	font-weight:bold;
}
.precios h5
{
	font-size:17px;
	color:#494949;
	font-family:'Montserrat', sans-serif;;
	font-weight:light;
}
.precios .box
{
	background:#fff;
	border-radius: 6px;
	padding-bottom: 5px;
	margin-bottom: 30px;
	box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15);
}



.precios2
{
	text-align:center;
	padding:70px 0px;
	background: url(../img/halftone-yellow.png);
}
.precios2 h3, .contact h3
{
	color:#f98800;
	font-size:36px;
	font-family:'Lobster', cursive;
	margin-bottom:40px;
}
.precios2 h4
{
	font-size:18px;
	color:#f98800;
	font-family:'Montserrat', sans-serif;;
	font-weight:bold;
}
.precios2 h5
{
	font-size:27px;
	color:#f98800;
	font-family:'Lobster', sans-serif;;
	font-weight:light;
}
.precios2 .box
{
	background:#fff;
	border-radius: 6px;
	padding-bottom: 5px;
	margin-bottom: 30px;
	box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15);
}


.padme
{
	text-align:center;
	padding-top:70px;
	    background: url(../img/halftone-yellow.png);

	background-image: "img/halftone-yellow.png"
}
.padme p
{
	font-size:20px;
	letter-spacing:1.7px;
	color:#333031;
	font-family:'Montserrat', sans-serif;;
	padding:0px 2.5px;
	margin-bottom:50px;
}
.padme h3, .contact h3
{
	color:#f98800;
	margin-top:0px;
	padding-bottom:30px;
	border-bottom:2px dashed #f98800;
	margin-bottom:25px;
}
.contact
{
	text-align:center;
	padding:70px 0px;
	background:#f5f5f5;
	display:inline-block;
	width:100%;
	padding-bottom:100px;
}
.contact .form-control
{
	border-color:#7d7579;
	display:inline-block;
	width:100%;
	margin-bottom:15px;
	font-size:20px;
}
.contact .form-control:focus
{
	box-shadow:none;
	border-color:#f98800;
}
.contact .top .form-control
{
	height:40px;
}
.btn-theme
{
	border:1px solid #f98800;
	color:#f98800;
	transition:all ease 0.5s;
	font-family:'Montserrat', sans-serif;
	font-weight:bold;
	padding:10px 40px;
	background:#fff;
}
.btn-theme:hover
{
	background:#f98800;
	color:#fff;
	transition:all ease 0.5s;
}
.footer
{
	background:#f98800;
	padding:30px 0px;
	text-align:center;
}
.footer p
{
	margin-bottom:0px;
	font-size:14px;
	font-family:'Montserrat', sans-serif;
	font-weight:bold;
}
.footer p a
{
	color:#f5f5f5;
	text-decoration:none;
}
.navbar-right a
{
	padding:9px 25px !important;
	margin-top:5px;
	font-family: 'Montserrat', sans-serif;
}
.navbar-right a:hover
{
	border-color:#f98800;
}

p {
    padding: 15px;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {

	font-family: 'Montserrat', sans-serif;
    color: #f98800;

}
.navbar-default .navbar-nav > li > a {

    color: #7d7579;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    transition: all ease 0.5s;

}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: #000000;
    background-color: transparent;
}


.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
